<div class="card-content">
  <table>
    <thead>
      <tr>
          <th>Event description</th>
          <th>Event date</th>
          <th>Event location</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>....</td>
        <td>....</td>
        <td>....</td>
      </tr>
      <tr>
        <td>....</td>
        <td>....</td>
        <td>....</td>
      </tr>
      <tr>
        <td>....</td>
        <td>....</td>
        <td>....</td>
      </tr>
    </tbody>
  </table>
</div>
