<% content_for :title, "#{@profile.first_name} #{@profile.last_name}" %>

<div class="row">
  <div class="col s12 m4 l4">
<%= render 'profiles/card' %>
    <% if @profile != current_user.profile%>
    <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation", "data-sid" => current_user.profile.id, "data-rip" => @profile.id %>
    <% end %>
  </div>
  <div class="col s12 m8 l8">
      <h4 class="title grey-text text-darken-4">EVENTS</h4>
      <%= link_to new_profile_event_path(current_user), class: "btn-floating activator waves-effect waves-light green lighten-1 right hoverable" do %>
        <i class="large material-icons">add</i>
      <% end %>
<%= render 'profiles/table' %>
  </div>
  <div class="col s12 m8 l9">
  </div>
</div>
