<p class="description-profile grey-text text-lighten-2">ADD A KID</p>
  <%= simple_form_for [@profile, @kid] do |f| %>
    <%= f.input :gender, collection: ["girl", "boy", "prefer not to say"] %>
    <%= f.input :date_of_birth %>
    <%= f.button :submit, "Submit", class: "waves-effect waves-light btn button-green darken-4" %>
  <% end %>
