.padding {
  padding-top: 40px;
}
.background-color {
  background-color: #F6F6F6;
}
.vh100 {
  height: 100vh;
}
.move-right {
  padding-left: 30px;
}
.padding-image {
  margin-left: 10px;
}
.host {
  padding-top: 30px;
}
.attending-card {
  height: 70px;
  width: 70px;
}
