.event-card {
  width: 300px;
  height: 200px;
  margin: 15px 15px;
  position: relative;
}
.event-profile-pic {
  position: absolute;
  right: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.host-description {
  position: absolute;
  right: 30px;
  margin-top: 40px;
}
