<footer class="page-footer">
  <div class="container">
    <div class="col-xs-4">
        <a class="icon left-align" href="#!"> <i class="fa fa-facebook fa-lg"></i></a>
        <a class="icon left-align" href="#!"> <i class="fa fa-instagram fa-lg"></i></a>
        <a class="icon left-align" href="#!"> <i class="fa fa-twitter fa-lg"></i></a>
        <a class="text right" href="#!"> Made with <i class="fa fa-heart fa-lg icon-green"></i></a>
      </div>
    </div>
  </footer>









