<nav>
  <div class="nav-wrapper light-blue darken-4">
    <%= link_to root_path, class: "brand-logo" do %>
    <%= image_tag "logo.svg", class: "logo-medium", id: "logo-navbar" %>
    <% end %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to t(".sign_out", default: "LogOut"), destroy_user_session_path, method: :delete, class: "waves-effect waves-light btn yellow darken-4" %></li>
      <% else %>
        <li><a href="collapsible.html">Sign-up</a></li>
        <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "waves-effect waves-light btn yellow darken-4" %><i class="material-icons right">person_outline</i>
      <% end %>


    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>


