<% content_for :title, "Create an Event" %>


<div class="container">
  <h1>Create an event</h1>

  <% if user_signed_in? %>
      <%= render 'form' %>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-success" %>
  <% end %>
</div>
