<% content_for :title, "#{@event.description}" %>

<div class="container-fluid">
  <div class="row">
    <div class="col s12 m6 vh100">
      <%= render 'show_info' %>
    </div>
    <div class="col s12 m6 no-padding">
      <%= render 'show_map' %>
    </div>
  </div>
</div>



  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $(document).ready(function() {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map' } }, function() {
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if (markers.length == 0) {
  handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
