/* Footer design */
.footer{
  background-color: #333333;
  padding-top: 100px;
  margin-top: 17px;
  margin:0 0 10px;

}

.footer p{
  color: #CCCCCC;
}


.list-inline{
  color: #CCCCCC;
  padding-bottom: 30px;
  padding-left: 10px;
}

.text{
  color: #CCCCCC;
  padding-bottom: 30px;
  padding-left: 10px;
}

.icon{
  padding-left: 20px;
  color: #186A69;
}

