.button-green{
  background-color: #186A69;
}

.button-gold{
  background-color: #DEA268;
}


.button-grey {
  color: black;
  border-color: grey;
  border-width: 1px;
  opacity: 10%;
  background-color: white;
}
