.button-green{
  background-color: #186A69;
}

.btn-small{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color:white;
  position: absolute;
  margin: auto;
}

.button-gold{
  background-color: #DEA268;
}


.button-grey {
  color: black;
  border-color: grey;
  border-width: 1px;
  opacity: 10%;
  background-color: white;
}

.btn-red {
  z-index: 99999;
  color: white;
}

.btn-red:hover {
  z-index: 99999;
  color: white;
}


.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
