.logo-extra-small {
  width: 10px;
  height: 10px;
}
.logo-small {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.logo-medium {
  width: 50px;
  height: auto;
  border-radius: 3px;

}
.logo-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
