.materialPicker{
  width: 18rem;
}

.Number{
  border: none;
  text-align: center;
  font-size: 6.1rem;
  width: 8.4rem;
}

.pickerButton{
    width:100%;
}

.first{
  float:left;
}
.second{
    float:right;
}